In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import tensorflow as tf

In [3]:
#step 1 : load data
data = pd.read_csv('data_for_neural_net.csv',header=0)

In [4]:
data.columns.values

array(['index', 'area', 'bathrooms', 'price', 'sq_price'], dtype=object)

In [6]:
data.drop(['index', 'price', 'sq_price'],axis = 1,inplace=True)

In [7]:
data = data[:10]

In [8]:
data

     area  bathrooms
0  2104.0        3.0
1  1600.0        3.0
2  2400.0        3.0
3  1416.0        2.0
4  3000.0        4.0
5  1985.0        4.0
6  1534.0        3.0
7  1427.0        3.0
8  1380.0        3.0
9  1494.0        3.0

In [13]:
data['y1'] = [1,1,1,0,0,1,0,1,1,1]
data['y2'] = data['y1'] == 0
data['y2'] = data.y2.astype('int')

In [14]:
data

     area  bathrooms  y1  y2
0  2104.0        3.0   1   0
1  1600.0        3.0   1   0
2  2400.0        3.0   1   0
3  1416.0        2.0   0   1
4  3000.0        4.0   0   1
5  1985.0        4.0   1   0
6  1534.0        3.0   0   1
7  1427.0        3.0   1   0
8  1380.0        3.0   1   0
9  1494.0        3.0   1   0

In [19]:
#Step 3 - prepare data for Tensorflow(tensors)
#tensors : generic version of scalar, vectors and matrices
#vector: a list of numbers (1D tensor)
#matrices : a list of list of numbers (2D tensor)
#list of list of list of numbers (3D tensor)
#.....and so on
#convert features into input tensors
inputX = data.loc[:,['area','bathrooms']].as_matrix()
#convert labels to tensors
inputY = data.loc[:,['y1','y2']].as_matrix()

In [20]:
inputX

array([[  2.10400000e+03,   3.00000000e+00],
       [  1.60000000e+03,   3.00000000e+00],
       [  2.40000000e+03,   3.00000000e+00],
       [  1.41600000e+03,   2.00000000e+00],
       [  3.00000000e+03,   4.00000000e+00],
       [  1.98500000e+03,   4.00000000e+00],
       [  1.53400000e+03,   3.00000000e+00],
       [  1.42700000e+03,   3.00000000e+00],
       [  1.38000000e+03,   3.00000000e+00],
       [  1.49400000e+03,   3.00000000e+00]])

In [21]:
inputY

array([[1, 0],
       [1, 0],
       [1, 0],
       [0, 1],
       [0, 1],
       [1, 0],
       [0, 1],
       [1, 0],
       [1, 0],
       [1, 0]])

In [23]:
#Step 4 - write out our hyperparameters
learning_rate = 0.000001
training_epochs = 2000
steps = 50

20